<h1>Calculate what the change should be<h1>
  <form action="/coins">
    <div class="form-group">
      <label for="change">Enter the change amount.</label>
      <input id="change" name="change" class="form-control" type="text">
    </div>
    <button id="send_btn" type="submit" class="btn-success">Send</button>
  </form>
